src/main/mule/first_sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c144d75c-727d-4026-ba08-462946ca5eb1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="first_sampleFlow" doc:id="e7e64023-82aa-4895-9b7c-c6001a44490b" >
		<http:listener doc:name="Listener" doc:id="0a50bd4b-901e-48cf-b8fd-7ffb316d4659" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value="payload- comitting the code to github" doc:name="Set Payload" doc:id="abd8dced-51e9-453d-a19f-47a1c1798352" />
		<logger level="INFO" doc:name="Logger" doc:id="599834e8-2c2a-4395-a394-0260eb39b7b3" message="#[payload]"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="8c8501b5-ef1d-45d4-8663-c1894c72fd27" />
	</flow>
</mule>
